---

---

<div class="my-8" id="exterior-buttons">
  <h3 class="font-semibold mb-2">Exterior Color</h3>
  <div class="flex space-x-4">
    <button
      class="btn-selected transition-transform duration-300 hover:scale-110"
    >
      <img
        src="../images/button-stealth-grey.avif"
        alt="Stealth Grey"
        class="w-22"
      />
    </button>
    <button class="transition-transform duration-300 hover:scale-110">
      <img
        src="../images/button-pearl-white.avif"
        alt="Pearl White"
        class="w-22"
      />
    </button>
    <button class="transition-transform duration-300 hover:scale-110">
      <img
        src="../images/button-deep-blue-metallic.avif"
        alt="Deep Blue"
        class="w-22"
      />
    </button>
    <button class="transition-transform duration-300 hover:scale-110">
      <img
        src="../images/button-solid-black.avif"
        alt="Solid Black"
        class="w-22"
      />
    </button>
    <button class="transition-transform duration-300 hover:scale-110">
      <img src="../images/button-ultra-red.avif" alt="Ultra Red" class="w-22" />
    </button>
    <button class="transition-transform duration-300 hover:scale-110">
      <img
        src="../images/button-quicksilver.avif"
        alt="Quicksilver"
        class="w-22"
      />
    </button>
  </div>
</div>
