---
import Image from "astro/components/Image.astro";
import buttondark from "../images/buttondark.avif";
import buttonlight from "../images/buttonlight.avif";
---

<div class="my-8" id="interior-buttons">
  <h3 class="font-semibold mb-2">Interior Color</h3>
  <div class="flex space-x-4">
    <button
      class="btn-selected transition-transform duration-300 hover:scale-110"
    >
      <Image src={buttondark} alt="Dark" class="w-12" />
    </button>
    <button class="transition-transform duration-300 hover:scale-110">
      <Image src={buttonlight} alt="Light" class="w-12" />
    </button>
  </div>
</div>
